var isEmpty = function (obj) {
  if (obj == undefined) {
    return true;
  } else if(obj.length == 0){
    return true;
  }else if(JSON.stringify(obj)=="{}"){
    return true;
  }else{
    return false;
  }
}
var formatDateTime = function (obj) {
  var date = getDate(obj);
    var month = date.getMonth() + 1;
    var strDate = date.getDate();
    var strHours = date.getHours();
    var strMinutes = date.getMinutes();
    var strSeconds = date.getSeconds();
    if (month >= 1 && month <= 9) {
        month = "0" + month;
    }
    if (strDate >= 0 && strDate <= 9) {
        strDate = "0" + strDate;
    }
    if (strHours >= 0 && strHours <= 9) {
      strHours = "0" + strHours;
    }
    if (strMinutes >= 0 && strMinutes <= 9) {
      strMinutes = "0" + strMinutes;
    }
    if (strSeconds >= 0 && strSeconds <= 9) {
      strSeconds = "0" + strSeconds;
    }
    var currentDate = date.getFullYear() + "-" + month + "-" + strDate
            + " " + strHours + ":" + strMinutes + ":" + strSeconds;
    return currentDate;
}
var formatDate = function (obj) {
  var date = getDate(obj);
  var month = date.getMonth() + 1;
  var strDate = date.getDate();
  if (month >= 1 && month <= 9) {
      month = "0" + month;
  }
  if (strDate >= 0 && strDate <= 9) {
      strDate = "0" + strDate;
  }
  var currentDate = date.getFullYear() + "-" + month + "-" + strDate;
  return currentDate;
}
var stringCutOut = function(str, length){
  if(str && str.length>length){
    str = str.substring(0, length) + "...";
  }
  return str;
}
var getOrderState = function (state) {
  switch(state){
    case 0:
      return "待付款";
    case 1:
      return "待发货";
    case 2:
      return "待收货";
    case 3:
      return "已完成";
    case -1:
      return "已关闭";
    case "0":
      return "待付款";
    case "1":
      return "待发货";
    case "2":
      return "已收货";
    case "3":
      return "已完成";
    case "-1":
      return "已关闭";
    default:
      return state;
  }
}
var getPayment = function (payment) {
  switch(payment){
    case 0:
      return "货到付款";
    case 1:
      return "在线支付";
    case "0":
      return "货到付款";
    case "1":
      return "在线支付";
    default:
      return payment;
  }
}
var getPick = function (pick) {
  switch(pick){
    case "send":
      return "店铺配送";
    case "take":
      return "到店自取";
    default:
      return pick;
  }
}
var getFeedbackState = function(state){
  switch(state){
    case 0:
      return "未处理";
    case 1:
      return "已处理";
    case -1:
      return "已取消";
    default:
      return state;
  }
}

module.exports = {
  isEmpty: isEmpty,
  formatDate: formatDate,
  formatDateTime: formatDateTime,
  stringCutOut: stringCutOut,
  getOrderState: getOrderState,
  getPayment: getPayment,
  getPick: getPick,
  getFeedbackState: getFeedbackState,
};